.basket_wrapper{
    border: 2px solid darkorange;
    width: 100%;
	min-height: 300px;
	position: sticky;
	top: 0;

}
.basket_list_header{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
