.content_wrapper {
  border: 2px dashed red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 74%;
  min-height: 550px;
  margin: 0 0 0 1%;
}
/* .content_wrapper button{
    width: 100px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 23.5%;
} */
