.item_menu_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid blue;
    width: 290px;
    min-height: 300px;
    margin: 10px 10px;
    padding: 10px 5px;
}
.item_menu_name{
    color: brown;
}
.item_menu_img{
    width: 100px;
    height: 100px;
    border: solid orange 3px;
    border-radius: 50%;
}
.item_menu_selectAmount{
    display: flex;
    margin: 5px 0 15px;
}
.item_menu_selectAmount input{
    width: 80px;
    margin: 0 15px;
    text-align: center;
    height: 20px;
    border-radius: 5px;
}
.item_hover{
    background: rgba(137, 43, 226, 0.342);
}

.item_menu_wrapper .underLine{ 
    text-decoration: underline;
    cursor: pointer;
}
/* .item_menu_selectAmount button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: 2px solid darkgray;
    font-size: 20px;
    line-height: 26px;
    padding: 0;
}
.item_menu_wrapper button{
    position: relative;
    top: 0;
    left: 0;
} */


.hidden{
    display: none;
}